body{
	font-family: 'Montserrat', sans-serif;
}


.menu{
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 99;
	top: 0;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	@include mobile(){
		padding: 7px 15px;
	}
	.menu__box{
		height: 65px;
		display: inline-flex;
		margin-bottom: 0;
		align-items:center;
		@include mobile(){
			width: 100%;
			height: 100%;
			position: fixed;
			background-color: #733F7D;
			top: 0;
			left: 100%;
			padding: 20px;
			color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: all .3s;
		}
		&.active{
			left: 0;
		}
		.menu__item{
			display: inline-flex;
			@include mobile(){
				width: 100%;
				text-align: center;
			}
			.menu__link{
				font-size: 16px;
				line-height: 20px;
				color: #656565;
				padding-left: 35px;
				@include  mobile(){
					width: 100%;
					color: #fff;
					padding-left: 0;
					margin: 20px 0;
				}
			}
		}
	}
	.logo-resp{
		display: none!important;
		@include mobile(){
			display: block!important;
			margin-bottom: 50px;
		}
	}
	.redes{
		span{
			display: none;
			@include mobile(){
				display: inline-block;
				margin-right: 5px;
			}
		}
		a{
			color: #733F7D!important;
			i{
				font-size: 25px;
			}
			@include mobile(){
				color: #fff!important;
			}
		}
	}
	.menu__button{
		width: 30px;
		height: 27px;
		display: none;
		flex-direction: column;
		justify-content: center;
		@include mobile(){
			display: flex;
		}

		span{
			display: block;
			width: 100%;
			height: 5px;
			margin: 2px 0;
			border-radius: 10px;
			background-color: #733F7D;
		}
	}

	.close__button{
		position: fixed;
		z-index: 2;
		top: 4px;
		right: 60px;
		color: #fff;
		font-size: 35px;
		display: none;
		&.active{
			display: block;
		}
	}


}

.diferencia-carousel{
	@include mobile(){
		margin-top: 20px;
	}
}


.banner{
	background-color: #733F7D;
	background-image: url(../img/bg-v1.jpg);
	width: 100%;
	height:calc( 100vh - 80px);
	background-size: cover;
	display: block;
	margin-top: 80px;
	/*display: flex;
	align-items: center;*/
	position: relative;

	@include mobile(){
		padding-top: 80px;
		text-align: center;
		height: 800px;
		margin-top: 60px;
	}
	@include tablet(){
		padding-top: 80px;
		text-align: center;
		height: 650px;

	}



	.container{

		@include tablet(){
			height: 100%;
			max-width: 100%;
			padding: 0;
		}

	}
	.col-lg-6{
		z-index: 1;
		position: relative;
	}
	.btn-zeus{
		@include tablet(){
			margin-bottom: 20px;
		}
	}

	img{
		width: 100%;
		@include mobile(){
			width: 80%;
			margin: auto;
			margin-bottom: 20px;
		}
		@include tablet(){
			/*width: 50%;
			margin: auto;
			margin-bottom: 20px;*/
		}

		&:first-child{
			width: 700px;
			height: auto;
			@include mobile(){
				width: 100%;
			}
		}
	}
	strong{
		font-weight: bold;
		font-size: 60px;
		line-height: 70px;
		color: #fff;
		max-width: 500px;
		display: block;
		margin-bottom: 25px;
		@include mobile(){
			font-size: 30px;
			line-height: 35px;
		}
		@include tablet(){
			font-size: 30px;
			line-height: 35px;
		}
	}
	p{
		font-size: 25px;
		line-height: 30px;
		color: #fff;
		max-width: 550px;
		margin-bottom: 30px;
		@include mobile(){
			font-size: 16px;
			line-height: 18px;
		}
		@include tablet(){
			font-size: 16px;
			line-height: 18px;
		}
	}
	.info-banner{
		padding: 0 20px;
	}
	.slick-dots {
		z-index: 2;
		bottom: 50px;
		li{
			opacity: .5;
			transition: all .4s;
			&.slick-active{
				opacity: 1;
			}
			button{
				background-color: #fff;
				border-radius: 50%;
				width: 15px;
				height: 15px;
				&:before{
					color: transparent;
				}
			}
		}
		
	}

	.slick-home{
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;

	}

	.slick-slide:not(.no-back){
		&:after{
			content: '';
			background: rgb(115,63,125);
			background: linear-gradient(0deg, rgba(115,63,125,1) 0%, rgba(115,63,125,0) 100%);
			width: 100%;
			height: 40%;
			position: absolute;
			bottom: 0;
			//left: 0;
			z-index: 1;
			@include mobile(){
				left: 0;
			}
		}



	}


}

.block-select{
	position: relative;
	img{
		top: 45%;
		right: 20px;
		transform: translateY(-50%);
		position: absolute;
	}
	select{
		-webkit-appearance: none;
    -moz-appearance: none;
	}
}

.cotizador{
	min-height: 600px;
	width: 100%;
	.container{
		padding: 60px 15px; 
	}
	.form-group{
		label{
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			color: #656565;
			margin-bottom: 20px;
		}
		input, select{
			height: 60px;
			background: linear-gradient(172.29deg, #FFFFFF 0%, #F4F6FF 100%);
			border: 1px solid #DDDDDD;
			text-align: center;
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;
			color: #656565;
			width: calc(100% - 120px);
			margin: 0 10px;
			&:focus{
				outline: none;
			}
		}
		select{
			width: 100%;
			font-size: 18px;
			margin: 0;
			padding: 0 20px;
			@include mobile(){
				padding: 0 55px 0 20px;
			}
		}
	}
	.handle-counter{
		align-items:center;
		display: flex;
		button{
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;
			color: #656565;
			height: 60px;
			width: 60px;
			background: linear-gradient(172.29deg, #FFFFFF 0%, #F4F6FF 100%);
			border: 1px solid #DDDDDD;
			cursor: pointer;
			&:focus{
				outline: none;
			}
			&:active{
				filter: brightness(95%);
			}
		}
	}
	.result{
		background: linear-gradient(143.13deg, #FFFFFF 0%, #F4F6FF 100%);
		border: 1px solid #DDDDDD;
		width: 100%;
		height: 100%;
		padding: 30px;
		border-radius: 5px;
		text-align: center;
		padding: 80px 0;
		position: relative;
		box-shadow: 0 20px 50px -10px rgba(0,0,0,0.2);
		@include mobile(){
			margin-top: 30px;
			padding: 30px 0;
		}
		span{
			font-size: 25px;
			line-height: 30px;
			text-align: center;
			color: #656565;
			font-weight: 700;
		}
		i{
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;
			color: #656565;
			font-style: initial;
			margin-right: 10px;
		}
		.num{
			display: inline-block;
			font-size: 85px;
			line-height: 134px;
			color: #656565;
			font-weight: 700;
			position: relative;
			span{
				position: absolute;
				top: 35px;
				right: -17px;
			}
			@include mobile(){
				font-size: 55px;
			}
		}
		
		.price{
			strong{
				color: #656565;
			}
		}
		button{
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0 20px 30px -10px rgba(0,0,0,0.2);
			transition: all .3s;
			@include mobile(){
				width: 80%;
				
			}
			&:hover{
				bottom: -25px;
				@include mobile(){
					bottom: -30px;
				}
			}
		}

	}

	.duda{
		width: 100%;
		text-align: center;
		margin-top:  45px;
		color: #3FD5E6;
		font-weight: 500;
		&:hover{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

section:not(.banner){
	padding: 60px 0;
	@include mobile(){
		padding: 30px 0;
	}
}

.btn-zeus{
	background: linear-gradient(172.82deg, #3FD5E6 -6.42%, #2DA6D0 107.85%);
	padding: 20px 40px;
	color: 	#fff;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	border:none;
	border-radius: 40px;
	cursor: pointer;
	transition: all .5s;
	&:focus{
		outline: none;
	}
	&:hover{
		filter: brightness(110%);
		color: #fff;
		text-decoration: none;
	}
	@include mobile(){
		font-size: 16px;
		width: 100%;
		padding: 10px 20px;
	}
}

.zeus-title{
	font-size: 45px;
	line-height: 55px;
	text-align: center;
	font-weight: 700;
	color: #671A7A;
	margin-bottom: 30px;
	@include mobile(){
		font-size: 22px;
		margin-bottom: 20px;
	}
}

.zeus-subtitle{
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #656565;
	display: block;
	margin: auto;
	
}

.incrementar{
	width: 100%;
	display: flex;
	padding: 0!important;
	min-height: 600px;
	height: 600px;
	@include tablet(){
		flex-direction: column;
		height: auto;
	}
	@include mobile(){
		flex-direction: column;
		height: auto;
	}
	.incrementar__left{
		width: 50%;
		height: 100%;
		padding: 40px;
		background-image: url(../img/person.jpg);
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		z-index: 2;
		@include tablet(){
			width: 100%;
			height: 500px;
			background-position: center top;
		}
		@include mobile(){
			width: 100%;
			height: 500px;
		}
		.laptop{
			position: absolute;
			right: -100px;
			top: 60%;
			transform: translateY(-50%);
			z-index: 3;
			@include tablet(){
				right:initial;
				top: initial;
				bottom: -200px;
				left: 50%;
				transform: translateX(-50%);
				width: 400px;

			}
			@include mobile(){
				right:initial;
				top: initial;
				bottom: -200px;
				left: 50%;
				transform: translateX(-50%);
				width: 400px;
			}
		}
	}
	.incrementar__right{
		height: 100%;
		background-color: #32B2D6;
		width: 50%;
		padding: 50px 50px 50px 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		color: #fff;
		position: relative;
		z-index: 1;
		@include tablet(){
			width: 100%;
			height: 500px;
			padding: 150px 40px 40px 40px;
		}
		@include mobile(){
			width: 100%;
			height: auto;
			padding: 150px 40px 40px 40px;
		}
		h4{
			font-size: 42px;
			font-weight: bold;
			max-width: 450px;
		}
		p{
			margin-bottom: 20px;
		}
		.numbers{
			display: flex;
			width: 100%;
			padding: 20px 0;
			border-top: solid 2px #fff;
			.numbers__item{
				width: calc(100% / 3);
				text-align: center;
				span{
					font-size: 42px;
					font-weight: bold;
					@include mobile(){
						font-size: 35px;
					}
				}
				p{
					margin-bottom: 0;
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
}


.diferencia{
	background-color: #F9FAFF;
	.row{
		margin: 80px 0;
	}
	.item-diferencia{
		display: flex;
		align-items: center;
		padding: 30px 0;
		@include mobile(){
			flex-direction: column;
			text-align: center;
			padding-bottom: 0;
		}
		img{
			margin-right: 20px;
			@include mobile(){
				margin-right: initial;
				width: 70%;
				margin-bottom: 20px;
			}
		}
		strong{
			font-weight: bold;
			font-size: 25px;
			line-height: 30px;
			max-width: 85%;
			display: block;
			color: #671A7A;
			margin-bottom: 10px;
			@include mobile(){
				margin: 10px auto;
				font-size:18px;
			}
		}
		p{
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;

			color: #656565;

		}
	}
	.owl-dots{
		text-align: center;
		.owl-dot{
			border-radius: 50%;
			width: 15px;
			height: 15px;
			background: #C4C4C4;
			margin: 0 5px;
			&.active{
				background: #800080;
			}
			&:focus{
				outline: none;
			}
		}
	}
}


.clientes{

	.wraper-clientes{
		display: flex;
		flex-direction: column;
		@include mobile(){
			flex-direction: column-reverse;
		}
	}

	.experiencia{
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: center;
		margin: 40px 0;
		@include mobile(){
			flex-direction: column;
		}
		.experiencia__item{
			width: calc(100% / 3);
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			@include mobile(){
				width: 100%;
				padding-bottom: 20px;
			}
			&:not(:last-child):after{
				content: '';
				width: 2px;
				height: 90%;
				position: absolute;
				right: 0;
				background-color: #DDDDDD;
				top: 50%;
				transform: translateY(-50%);
				@include mobile(){
					width: 100%;
					height: 2px;
					top: initial;
					background-color: transparent;
					bottom: 0;
					transform: none;
					margin-bottom: 20px;
				}
			}
			img{
				height: 50px;
				margin-bottom: 5px;
			}
			strong{
				font-size: 42px;
				color: #656565;
				margin-bottom: 5px;
			}
			p{
				font-weight: 500;
				max-width: 80%;
			}
		}
	}
	.testimonio{
		width: 100%;
		height: 450px;
		overflow: hidden;
		margin: 60px 0;
		display: none;
		@include mobile(){
			display: none;
		}
		&.show{
			display: flex;
			@include mobile(){
				display: none;
			}
		}
		@include mobile(){
			display: none;
		}
		.test-pic{
			width: 50%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			background-color: #2AB8CC;
			position: relative;
			border-radius: 10px 0 0 10px;
			border: 1px solid #DDDDDD;
			img{
				height: 600px;
				position: absolute;
				bottom: -40%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.test-info{
			width: 50%;
			background: linear-gradient(161.89deg, #FFFFFF 0%, #F4F6FF 100%);
			border: 1px solid #DDDDDD;
			border-left: none;
			border-radius: 0 10px 10px 0;
			padding: 60px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			p{
				font-size: 16px;
				line-height: 25px;
				color: #656565;
			}
			strong{
				font-weight: bold;
				font-size: 18px;
				line-height: 30px;

				color: #000000;
			}
			span{
				font-size: 14px;
				line-height: 20px;
				display: block;
				color: #656565;
			}
		}
	}

	.cliente-item{

		display: flex;
		align-items: center;
		justify-content: center;
		height: 105px;

		transform: translateY(0);
		transition: all .3s;
		border: 1px solid transparent;
		box-shadow: 0 30px 20px -30px transparent;
		margin-bottom: 20px;
		@include mobile(){
			margin-top: 20px;
			margin-bottom: 20px;
			background: linear-gradient(161.89deg, #FFFFFF 0%, #F4F6FF 100%);
			border: 1px solid #DDDDDD;
			&:hover{
				transform: none;
				box-shadow: 0 20px 30px transparent;
			}
		}

		&:hover,&.active{
			background: linear-gradient(161.89deg, #FFFFFF 0%, #F4F6FF 100%);
			border: 1px solid #DDDDDD;
			transform: translateY(-10%);
			box-shadow: 0 20px 30px rgba(0,0,0,.1);
			cursor: pointer;
			@include mobile(){
				transform: none;
				box-shadow: 0 20px 30px transparent;
			}
		}
	}
}

footer{
	width: 100%;
	background-color: #671A7A;
	padding: 60px 0 20px;
	color: #fff;
	@include mobile(){
		text-align: center;
	}
	img{
		@include mobile(){
			margin-bottom: 40px;
		}
	}
	strong{
		font-size: 25px;
		@include mobile(){
			font-size: 22px;
		}
	}
	.sociales{
		a{
			color: #fff;
			display: inline-block;
			margin-right: 20px;
			@include mobile(){
				margin: 0 20px;
			}
		}

		font-size: 50px;
	}
	.copy{
		margin-top: 40px;
		a{
			color: #fff;
			font-size: 20px;
		}
		@include mobile(){
			text-align: center;
			font-size: 13px;
		}
		&>div{
			@include mobile(){
				margin-bottom: 20px;
			}
		}
	}
}

#cotizacion, #enviado{
	.modal-content{
		padding: 40px;

	}
	.close{
		color: #671A7A;
		font-size: 35px;
	}
	strong{
		font-size: 35px;
		color: #671A7A;
		display: block;
		margin: 20px 0;
	}
	form{
		input{
			height: 60px;
			border-radius: 30px;
			background-color: #F4F6FF;
			border: none;
			padding-left: 30px;
			box-shadow: 0 10px 40px transparent;
			transition: all .3s;
			&:focus{
				outline: none;
				background-color: #fff;
				box-shadow: 0 10px 40px rgba(0,0,0,.1);
			}
		}
		label{
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			color: #671A7A;
			i{
				width: 30px;
				margin-right: 3px;
				text-align: center;
			}
		}
	}
}