
$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;
$desktop-large-width: 1500px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width + 1}) and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin desktop-large {
  @media (min-width: #{$desktop-width + 1}) and (max-width: #{$desktop-large-width}) {
    @content;
  }
}
