body {
  font-family: 'Montserrat', sans-serif; }

.menu {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 99;
  top: 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    .menu {
      padding: 7px 15px; } }
  .menu .menu__box {
    height: 65px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 768px) {
      .menu .menu__box {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #733F7D;
        top: 0;
        left: 100%;
        padding: 20px;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; } }
    .menu .menu__box.active {
      left: 0; }
    .menu .menu__box .menu__item {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      @media (max-width: 768px) {
        .menu .menu__box .menu__item {
          width: 100%;
          text-align: center; } }
      .menu .menu__box .menu__item .menu__link {
        font-size: 16px;
        line-height: 20px;
        color: #656565;
        padding-left: 35px; }
        @media (max-width: 768px) {
          .menu .menu__box .menu__item .menu__link {
            width: 100%;
            color: #fff;
            padding-left: 0;
            margin: 20px 0; } }
  .menu .logo-resp {
    display: none !important; }
    @media (max-width: 768px) {
      .menu .logo-resp {
        display: block !important;
        margin-bottom: 50px; } }
  .menu .redes span {
    display: none; }
    @media (max-width: 768px) {
      .menu .redes span {
        display: inline-block;
        margin-right: 5px; } }
  .menu .redes a {
    color: #733F7D !important; }
    .menu .redes a i {
      font-size: 25px; }
    @media (max-width: 768px) {
      .menu .redes a {
        color: #fff !important; } }
  .menu .menu__button {
    width: 30px;
    height: 27px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 768px) {
      .menu .menu__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .menu .menu__button span {
      display: block;
      width: 100%;
      height: 5px;
      margin: 2px 0;
      border-radius: 10px;
      background-color: #733F7D; }
  .menu .close__button {
    position: fixed;
    z-index: 2;
    top: 4px;
    right: 60px;
    color: #fff;
    font-size: 35px;
    display: none; }
    .menu .close__button.active {
      display: block; }

@media (max-width: 768px) {
  .diferencia-carousel {
    margin-top: 20px; } }

.banner {
  background-color: #733F7D;
  background-image: url(../img/bg-v1.jpg);
  width: 100%;
  height: calc( 100vh - 80px);
  background-size: cover;
  display: block;
  margin-top: 80px;
  /*display: flex;
	align-items: center;*/
  position: relative; }
  @media (max-width: 768px) {
    .banner {
      padding-top: 80px;
      text-align: center;
      height: 800px;
      margin-top: 60px; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .banner {
      padding-top: 80px;
      text-align: center;
      height: 650px; } }
  @media (min-width: 769px) and (max-width: 992px) {
    .banner .container {
      height: 100%;
      max-width: 100%;
      padding: 0; } }
  .banner .col-lg-6 {
    z-index: 1;
    position: relative; }
  @media (min-width: 769px) and (max-width: 992px) {
    .banner .btn-zeus {
      margin-bottom: 20px; } }
  .banner img {
    width: 100%; }
    @media (max-width: 768px) {
      .banner img {
        width: 80%;
        margin: auto;
        margin-bottom: 20px; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .banner img {
        /*width: 50%;
			margin: auto;
			margin-bottom: 20px;*/ } }
    .banner img:first-child {
      width: 700px;
      height: auto; }
      @media (max-width: 768px) {
        .banner img:first-child {
          width: 100%; } }
  .banner strong {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    max-width: 500px;
    display: block;
    margin-bottom: 25px; }
    @media (max-width: 768px) {
      .banner strong {
        font-size: 30px;
        line-height: 35px; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .banner strong {
        font-size: 30px;
        line-height: 35px; } }
  .banner p {
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    max-width: 550px;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .banner p {
        font-size: 16px;
        line-height: 18px; } }
    @media (min-width: 769px) and (max-width: 992px) {
      .banner p {
        font-size: 16px;
        line-height: 18px; } }
  .banner .info-banner {
    padding: 0 20px; }
  .banner .slick-dots {
    z-index: 2;
    bottom: 50px; }
    .banner .slick-dots li {
      opacity: .5;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
      .banner .slick-dots li.slick-active {
        opacity: 1; }
      .banner .slick-dots li button {
        background-color: #fff;
        border-radius: 50%;
        width: 15px;
        height: 15px; }
        .banner .slick-dots li button:before {
          color: transparent; }
  .banner .slick-home {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .banner .slick-slide:not(.no-back):after {
    content: '';
    background: #733f7d;
    background: -webkit-gradient(linear, left bottom, left top, from(#733f7d), to(rgba(115, 63, 125, 0)));
    background: -webkit-linear-gradient(bottom, #733f7d 0%, rgba(115, 63, 125, 0) 100%);
    background: -o-linear-gradient(bottom, #733f7d 0%, rgba(115, 63, 125, 0) 100%);
    background: linear-gradient(0deg, #733f7d 0%, rgba(115, 63, 125, 0) 100%);
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    z-index: 1; }
    @media (max-width: 768px) {
      .banner .slick-slide:not(.no-back):after {
        left: 0; } }

.block-select {
  position: relative; }
  .block-select img {
    top: 45%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute; }
  .block-select select {
    -webkit-appearance: none;
    -moz-appearance: none; }

.cotizador {
  min-height: 600px;
  width: 100%; }
  .cotizador .container {
    padding: 60px 15px; }
  .cotizador .form-group label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #656565;
    margin-bottom: 20px; }
  .cotizador .form-group input, .cotizador .form-group select {
    height: 60px;
    background: -webkit-linear-gradient(277.71deg, #FFFFFF 0%, #F4F6FF 100%);
    background: -o-linear-gradient(277.71deg, #FFFFFF 0%, #F4F6FF 100%);
    background: linear-gradient(172.29deg, #FFFFFF 0%, #F4F6FF 100%);
    border: 1px solid #DDDDDD;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #656565;
    width: calc(100% - 120px);
    margin: 0 10px; }
    .cotizador .form-group input:focus, .cotizador .form-group select:focus {
      outline: none; }
  .cotizador .form-group select {
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0 20px; }
    @media (max-width: 768px) {
      .cotizador .form-group select {
        padding: 0 55px 0 20px; } }
  .cotizador .handle-counter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .cotizador .handle-counter button {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #656565;
      height: 60px;
      width: 60px;
      background: -webkit-linear-gradient(277.71deg, #FFFFFF 0%, #F4F6FF 100%);
      background: -o-linear-gradient(277.71deg, #FFFFFF 0%, #F4F6FF 100%);
      background: linear-gradient(172.29deg, #FFFFFF 0%, #F4F6FF 100%);
      border: 1px solid #DDDDDD;
      cursor: pointer; }
      .cotizador .handle-counter button:focus {
        outline: none; }
      .cotizador .handle-counter button:active {
        -webkit-filter: brightness(95%);
        filter: brightness(95%); }
  .cotizador .result {
    background: -webkit-linear-gradient(306.87deg, #FFFFFF 0%, #F4F6FF 100%);
    background: -o-linear-gradient(306.87deg, #FFFFFF 0%, #F4F6FF 100%);
    background: linear-gradient(143.13deg, #FFFFFF 0%, #F4F6FF 100%);
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 80px 0;
    position: relative;
    -webkit-box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.2); }
    @media (max-width: 768px) {
      .cotizador .result {
        margin-top: 30px;
        padding: 30px 0; } }
    .cotizador .result span {
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      color: #656565;
      font-weight: 700; }
    .cotizador .result i {
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #656565;
      font-style: initial;
      margin-right: 10px; }
    .cotizador .result .num {
      display: inline-block;
      font-size: 85px;
      line-height: 134px;
      color: #656565;
      font-weight: 700;
      position: relative; }
      .cotizador .result .num span {
        position: absolute;
        top: 35px;
        right: -17px; }
      @media (max-width: 768px) {
        .cotizador .result .num {
          font-size: 55px; } }
    .cotizador .result .price strong {
      color: #656565; }
    .cotizador .result button {
      position: absolute;
      bottom: -30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media (max-width: 768px) {
        .cotizador .result button {
          width: 80%; } }
      .cotizador .result button:hover {
        bottom: -25px; }
        @media (max-width: 768px) {
          .cotizador .result button:hover {
            bottom: -30px; } }
  .cotizador .duda {
    width: 100%;
    text-align: center;
    margin-top: 45px;
    color: #3FD5E6;
    font-weight: 500; }
    .cotizador .duda:hover {
      cursor: pointer;
      text-decoration: underline; }

section:not(.banner) {
  padding: 60px 0; }
  @media (max-width: 768px) {
    section:not(.banner) {
      padding: 30px 0; } }

.btn-zeus {
  background: -webkit-linear-gradient(277.18deg, #3FD5E6 -6.42%, #2DA6D0 107.85%);
  background: -o-linear-gradient(277.18deg, #3FD5E6 -6.42%, #2DA6D0 107.85%);
  background: linear-gradient(172.82deg, #3FD5E6 -6.42%, #2DA6D0 107.85%);
  padding: 20px 40px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .btn-zeus:focus {
    outline: none; }
  .btn-zeus:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    color: #fff;
    text-decoration: none; }
  @media (max-width: 768px) {
    .btn-zeus {
      font-size: 16px;
      width: 100%;
      padding: 10px 20px; } }

.zeus-title {
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  font-weight: 700;
  color: #671A7A;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .zeus-title {
      font-size: 22px;
      margin-bottom: 20px; } }

.zeus-subtitle {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #656565;
  display: block;
  margin: auto; }

.incrementar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  min-height: 600px;
  height: 600px; }
  @media (min-width: 769px) and (max-width: 992px) {
    .incrementar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto; } }
  @media (max-width: 768px) {
    .incrementar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto; } }
  .incrementar .incrementar__left {
    width: 50%;
    height: 100%;
    padding: 40px;
    background-image: url(../img/person.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 2; }
    @media (min-width: 769px) and (max-width: 992px) {
      .incrementar .incrementar__left {
        width: 100%;
        height: 500px;
        background-position: center top; } }
    @media (max-width: 768px) {
      .incrementar .incrementar__left {
        width: 100%;
        height: 500px; } }
    .incrementar .incrementar__left .laptop {
      position: absolute;
      right: -100px;
      top: 60%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 3; }
      @media (min-width: 769px) and (max-width: 992px) {
        .incrementar .incrementar__left .laptop {
          right: initial;
          top: initial;
          bottom: -200px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 400px; } }
      @media (max-width: 768px) {
        .incrementar .incrementar__left .laptop {
          right: initial;
          top: initial;
          bottom: -200px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 400px; } }
  .incrementar .incrementar__right {
    height: 100%;
    background-color: #32B2D6;
    width: 50%;
    padding: 50px 50px 50px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;
    position: relative;
    z-index: 1; }
    @media (min-width: 769px) and (max-width: 992px) {
      .incrementar .incrementar__right {
        width: 100%;
        height: 500px;
        padding: 150px 40px 40px 40px; } }
    @media (max-width: 768px) {
      .incrementar .incrementar__right {
        width: 100%;
        height: auto;
        padding: 150px 40px 40px 40px; } }
    .incrementar .incrementar__right h4 {
      font-size: 42px;
      font-weight: bold;
      max-width: 450px; }
    .incrementar .incrementar__right p {
      margin-bottom: 20px; }
    .incrementar .incrementar__right .numbers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 20px 0;
      border-top: solid 2px #fff; }
      .incrementar .incrementar__right .numbers .numbers__item {
        width: calc(100% / 3);
        text-align: center; }
        .incrementar .incrementar__right .numbers .numbers__item span {
          font-size: 42px;
          font-weight: bold; }
          @media (max-width: 768px) {
            .incrementar .incrementar__right .numbers .numbers__item span {
              font-size: 35px; } }
        .incrementar .incrementar__right .numbers .numbers__item p {
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 500; }

.diferencia {
  background-color: #F9FAFF; }
  .diferencia .row {
    margin: 80px 0; }
  .diferencia .item-diferencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0; }
    @media (max-width: 768px) {
      .diferencia .item-diferencia {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding-bottom: 0; } }
    .diferencia .item-diferencia img {
      margin-right: 20px; }
      @media (max-width: 768px) {
        .diferencia .item-diferencia img {
          margin-right: initial;
          width: 70%;
          margin-bottom: 20px; } }
    .diferencia .item-diferencia strong {
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      max-width: 85%;
      display: block;
      color: #671A7A;
      margin-bottom: 10px; }
      @media (max-width: 768px) {
        .diferencia .item-diferencia strong {
          margin: 10px auto;
          font-size: 18px; } }
    .diferencia .item-diferencia p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #656565; }
  .diferencia .owl-dots {
    text-align: center; }
    .diferencia .owl-dots .owl-dot {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: #C4C4C4;
      margin: 0 5px; }
      .diferencia .owl-dots .owl-dot.active {
        background: #800080; }
      .diferencia .owl-dots .owl-dot:focus {
        outline: none; }

.clientes .wraper-clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 768px) {
    .clientes .wraper-clientes {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }

.clientes .experiencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0; }
  @media (max-width: 768px) {
    .clientes .experiencia {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .clientes .experiencia .experiencia__item {
    width: calc(100% / 3);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
    @media (max-width: 768px) {
      .clientes .experiencia .experiencia__item {
        width: 100%;
        padding-bottom: 20px; } }
    .clientes .experiencia .experiencia__item:not(:last-child):after {
      content: '';
      width: 2px;
      height: 90%;
      position: absolute;
      right: 0;
      background-color: #DDDDDD;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 768px) {
        .clientes .experiencia .experiencia__item:not(:last-child):after {
          width: 100%;
          height: 2px;
          top: initial;
          background-color: transparent;
          bottom: 0;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          margin-bottom: 20px; } }
    .clientes .experiencia .experiencia__item img {
      height: 50px;
      margin-bottom: 5px; }
    .clientes .experiencia .experiencia__item strong {
      font-size: 42px;
      color: #656565;
      margin-bottom: 5px; }
    .clientes .experiencia .experiencia__item p {
      font-weight: 500;
      max-width: 80%; }

.clientes .testimonio {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 60px 0;
  display: none; }
  @media (max-width: 768px) {
    .clientes .testimonio {
      display: none; } }
  .clientes .testimonio.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .clientes .testimonio.show {
        display: none; } }
  @media (max-width: 768px) {
    .clientes .testimonio {
      display: none; } }
  .clientes .testimonio .test-pic {
    width: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #2AB8CC;
    position: relative;
    border-radius: 10px 0 0 10px;
    border: 1px solid #DDDDDD; }
    .clientes .testimonio .test-pic img {
      height: 600px;
      position: absolute;
      bottom: -40%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .clientes .testimonio .test-info {
    width: 50%;
    background: -webkit-linear-gradient(288.11deg, #FFFFFF 0%, #F4F6FF 100%);
    background: -o-linear-gradient(288.11deg, #FFFFFF 0%, #F4F6FF 100%);
    background: linear-gradient(161.89deg, #FFFFFF 0%, #F4F6FF 100%);
    border: 1px solid #DDDDDD;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .clientes .testimonio .test-info p {
      font-size: 16px;
      line-height: 25px;
      color: #656565; }
    .clientes .testimonio .test-info strong {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: #000000; }
    .clientes .testimonio .test-info span {
      font-size: 14px;
      line-height: 20px;
      display: block;
      color: #656565; }

.clientes .cliente-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 105px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 30px 20px -30px transparent;
  box-shadow: 0 30px 20px -30px transparent;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .clientes .cliente-item {
      margin-top: 20px;
      margin-bottom: 20px;
      background: -webkit-linear-gradient(288.11deg, #FFFFFF 0%, #F4F6FF 100%);
      background: -o-linear-gradient(288.11deg, #FFFFFF 0%, #F4F6FF 100%);
      background: linear-gradient(161.89deg, #FFFFFF 0%, #F4F6FF 100%);
      border: 1px solid #DDDDDD; }
      .clientes .cliente-item:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-shadow: 0 20px 30px transparent;
        box-shadow: 0 20px 30px transparent; } }
  .clientes .cliente-item:hover, .clientes .cliente-item.active {
    background: -webkit-linear-gradient(288.11deg, #FFFFFF 0%, #F4F6FF 100%);
    background: -o-linear-gradient(288.11deg, #FFFFFF 0%, #F4F6FF 100%);
    background: linear-gradient(161.89deg, #FFFFFF 0%, #F4F6FF 100%);
    border: 1px solid #DDDDDD;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    @media (max-width: 768px) {
      .clientes .cliente-item:hover, .clientes .cliente-item.active {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-shadow: 0 20px 30px transparent;
        box-shadow: 0 20px 30px transparent; } }

footer {
  width: 100%;
  background-color: #671A7A;
  padding: 60px 0 20px;
  color: #fff; }
  @media (max-width: 768px) {
    footer {
      text-align: center; } }
  @media (max-width: 768px) {
    footer img {
      margin-bottom: 40px; } }
  footer strong {
    font-size: 25px; }
    @media (max-width: 768px) {
      footer strong {
        font-size: 22px; } }
  footer .sociales {
    font-size: 50px; }
    footer .sociales a {
      color: #fff;
      display: inline-block;
      margin-right: 20px; }
      @media (max-width: 768px) {
        footer .sociales a {
          margin: 0 20px; } }
  footer .copy {
    margin-top: 40px; }
    footer .copy a {
      color: #fff;
      font-size: 20px; }
    @media (max-width: 768px) {
      footer .copy {
        text-align: center;
        font-size: 13px; } }
    @media (max-width: 768px) {
      footer .copy > div {
        margin-bottom: 20px; } }

#cotizacion .modal-content, #enviado .modal-content {
  padding: 40px; }

#cotizacion .close, #enviado .close {
  color: #671A7A;
  font-size: 35px; }

#cotizacion strong, #enviado strong {
  font-size: 35px;
  color: #671A7A;
  display: block;
  margin: 20px 0; }

#cotizacion form input, #enviado form input {
  height: 60px;
  border-radius: 30px;
  background-color: #F4F6FF;
  border: none;
  padding-left: 30px;
  -webkit-box-shadow: 0 10px 40px transparent;
  box-shadow: 0 10px 40px transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  #cotizacion form input:focus, #enviado form input:focus {
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); }

#cotizacion form label, #enviado form label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #671A7A; }
  #cotizacion form label i, #enviado form label i {
    width: 30px;
    margin-right: 3px;
    text-align: center; }
